/* =====================
   BASE
   ===================== */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* =====================
   SLIDES
   ===================== */
.slide {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #B7245C;
  color: white;
}

.slide.active {
  display: flex;
}

/* =====================
   HEADINGS
   ===================== */
h1 { font-size: 48px; }
h2 { font-size: 36px; }

/* =====================
   INPUTS
   ===================== */
input {
  padding: 12px;
  font-size: 18px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  width: 280px;
  outline: none;
}

/* =====================
   BUTTONS
   ===================== */
button {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

/* =====================
   LINKED LIST LINE
   ===================== */
.line {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 22px;
}

/* =====================
   RECTANGLE NODE
   ===================== */
.node {
  width: 180px;
  height: 60px;
  display: flex;
  background: white;
  color: black;
  font-weight: bold;
  margin: 0 10px;
  border: 2px solid #5a0f2e;
}

/* LEFT → DATA */
.node .data {
  width: 50%;
  border-right: 2px solid #5a0f2e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/* RIGHT → ADDRESS */
.node .addr {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #333;
}

/* =====================
   STATES
   ===================== */
.remove {
  background: #EDCBB1;
  color: #5a1a33;
}

.done {
  background: #EDCBB1;
  color: #5a1a33;
}
